<html>
<head>
</head>
<body bgcolor="white">
<p>Allows Java servlets and applications to generate HTML or other text-based
pages based on templates, so that graphic design can be kept separate from
application logic.</p>

<p>The source code for a template is typically an HTML document that contains
instructions for including dynamically-generated data. These instructions
are simple and unobtrusive (so the graphic designers can still do their work),
but powerful enough to let you use data structures of arbitrary complexity.
It's easy to generate tables of data, and you can use "if" and "switch"
statements to generate conditional content.</p>

<p>The <tt>Template</tt> class compiles a template file into an efficient
data structure for later use. A servlet can compile its template(s) in its
<tt>init()</tt> method, then use the <tt>Template</tt> object(s) to process
each request. Processing of compiled templates is very fast.</p>

<p>For complete instructions on how to use this package, please see
the <a href="../../manual/index.html" target="_top">manual</a>.
Click <a href="../../manual/src-notes.html" target="_top">here</a> for notes
on the source code.</p>

@author Benjamin Geer
@author Mike Bayer
@version 1.9 beta 1
</body>
</html>
